.contato-links {
  display: flex;
  gap: 15px;
  gap: 1rem;
  margin-top: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #00aee0;
    font-size: 2em;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contato-img img{
    max-width: 400px;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}