.hero{
    display: flex;
    flex-wrap: wrap;
    background: #00aee0;
    color: #000;
    padding: 40px;
    align-items: center;
}

.hero img{
    max-width: 450px;
    border-radius: 6px;
    display: flex;
    margin-right: 5rem;
}

.hero-text{
    font-size: 1.2rem;
    padding: 1.3rem;
}

.hero-text .btn{
    margin-top: 1rem;
}

.quem-somos{
    height: 300px;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.3rem;
}

.btn{
    display: inline-block;
    padding: 10px 18px;
    background: transparent;
    border: 2px solid #000;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: smooth 0.3s;
}

.btn:hover{
    background: #000;
    color: #fff;
}

.qr-code{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    padding: 10px 18px;
    background: transparent;
    border-radius: 6px;
}

.qr-code img{
    max-width: 100px;
    border-radius: 6px;
}

section{
    padding: 50px 20px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cards .card{
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
    max-height: 300px;
    height: 300px;
}

.cards .card p {
    padding: .2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: left;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.footer-img img{
    max-width: 300px;
    border-radius: 6px;
    display: flex;
    margin-left: 5rem;
}

