.navbar {
  background: #00aee0;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: sticky;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

